---
Language:        Cpp
BasedOnStyle:  Google

AlignAfterOpenBracket: BlockIndent
ColumnLimit:  120
SpacesInParens: Custom
SpacesInParensOptions:
  ExceptDoubleParentheses: true
  InConditionalStatements: true
  InCStyleCasts: false
  InEmptyParentheses: false
  Other: true
...
